{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="1" checked> Atrakcyjny Wojak
            <div class="fighterSelectImage" id="fighter1"></div>
        </label>
            <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="2"> Zwiastun Zagłady
                <div class="fighterSelectImage" id="fighter2"></div>
        </label>
            <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="3"> Morowy Duch
                <div class="fighterSelectImage" id="fighter3"></div>
        </label>
            <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="4"> Straszny Morderca
                <div class="fighterSelectImage" id="fighter4"></div>
        </label>
            <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="5"> Krwawy Postrach
                <div class="fighterSelectImage" id="fighter5"></div>
        </label>
            <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="6"> Hatake Kakashi
            <div class="fighterSelectImage" id="fighter6"></div>
        </label>
            <label class="fighterSelect">
            <input name="fighterRadioButton" type="radio" value="7"> Tajemniczy Walecznik
            <div class="fighterSelectImage" id="fighter7"></div>
        </label>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}